<div style="background-color:#232b44; color: aliceblue; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <p style="text-align: center;">Enviado por Gerencia</p>
    <p style="text-align: center;">Embai&reg;</p>
    <table style="margin-left: auto; margin-right: auto;" cellspacing="10">
        <tbody style="color: aliceblue;">
            <tr>
                <td>
                    <img style="
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
          " src="http://panel.embai.com.mx/assets/img/twitter.png" alt="" width="50" height="50" />&nbsp;
                </td>
                <td>Twitter</td>
                <td>
                    <img style="
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
          " src="http://panel.embai.com.mx/assets/img/facebook.png" alt="" width="50" height="50" />&nbsp;
                </td>
                <td>Facebook</td>
                <td>
                    <img style="
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
          " src="http://panel.embai.com.mx/assets/img/gmail.png" width="68" height="50" />
                </td>
                <td>Email</td>
            </tr>
        </tbody>
    </table>
</div>