<div style="background-color:#232b44">
    <img class="float-center" style="display: block; margin-left: auto; margin-right: auto;" src="{{urlApi}}/public/img/logo.jfif" alt="" width="135" height="135" />
    <hr />
</div>