{{> header}}
<br>
<table>
<tbody>
<tr>
<td style="text-align: center;">Bienvenido! NAME LASTNAME</td>
</tr>
<tr>
<td>
<p style="text-align: justify;">&nbsp;Gracias por registrarte en Embai.com, la mejor alternativa para soluciones financieras!</p>
<p style="text-align: center;">Saludos!</p>
<p style="text-align: center;">Atte. Gerencia de Embai</p>
</td>
</tr>
</tbody>
</table>
<br>
{{> footer}}